<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/w3ss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <h1>Bem vindos a minha livraria</h1>
    <header class="w3-bar">
        <a href="index.html" class="w3-bar-item w3-button w3-mobile">Home</a>

        <nav class="w3-dropdown-hover w3-mobile">  
            <button class="w3-button">Cadastro</button>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-dark-grey">
                <a href="./alunos.html" class="w3-bar-item w3-button w3-mobile">Alunos</a>
                <a href="./professores.html" class="w3-bar-item w3-button w3-mobile">Professores</a>
                <a href="./autores.html" class="w3-bar-item w3-button w3-mobile">Autores</a>
                <a href="./categoria.html" class="w3-bar-item w3-button w3-mobile">Categorias</a>
                <a href="./editoras.html" class="w3-bar-item w3-button w3-mobile">Editoras</a>
                <a href="./livros.html" class="w3-bar-item w3-button w3-mobile">Livros</a>
            </div>
        </nav>

        <nav class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Emprestimo</button>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-dark-grey">
                <a href="#" class="w3-bar-item w3-button w3-mobile">Emprestar</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Devolver</a>
            </div>
        </nav>

        <nav class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Relatórios</button>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-dark-grey">
                <a href="#" class="w3-bar-item w3-button w3-mobile">Empréstimo</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Devoluções em atraso</a>
            </div>
        </nav>

    </header>

    <footer>
        <p>&copy; 2024 João Victor De Souza Miralha</p>
    </footer>
    
</body>
</html>