* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4 ;
    color: #189081;
}

header {
    background-color: #189081;
    color: #dbf4ed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header img#foto-perfil {
    width: 120px;
    height: 120px;
    border: #84DCC4 2px solid;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease;
}

header img#foto-perfil:hover {
    transform: scale(1.1);
    box-shadow: #84DCC4 0px 0px 10px;
}

header div {
    flex-grow: 1;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #dbf4ed;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #84DCC4;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}


section {
    padding: 40px 20px;
    margin: 20px 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

section:hover {
    box-shadow: 0 0 20px #84DCC4;
}

h2, h3, h4, h5{
    color: #065A50;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #065A50;
}

section .hobbies {
    margin-top: 10px;
}

section .hobbies h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

section article {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
}

table th {
    background-color: #065A50;
    color: #fff;
}

table th#cabecalho1 {
    border-radius: 10px 0 0 0;
}

table th#cabecalho2 {
    border-radius: 0 10px 0 0;
}

table td {
    border-top: 1px solid #ddd;
}

table td i {
    color: #065A50;
}

table td i.far {
    color: #ddd;
}

table tr:hover {
    background: #e7f3ff;
    color: #065A50;
    transform: scale(1.02);
  }


form {
    display: grid;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #84DCC4;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    padding: 10px 20px;
    background-color: #065A50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #84DCC4;
}

footer {
    background-color: #189081;
    color: #dbf4ed;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    display: block;
}

footer img#marca {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

footer img#marca:hover {
    transform: scale(1.1);
    box-shadow: #065A50 0px 0px 10px;
}

#redes ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#redes ul li a {
    color: #065A50;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    gap: 10px;
}

#redes ul li a:hover {
    color: #84DCC4;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header img#foto-perfil {
        width: 100px;
        height: 100px;
    }

    section {
        margin: 10px;
    }

    table {
        font-size: 0.9rem;
    }

    form {
        grid-template-columns: 1fr;
    }
}
