<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - João Victor de Souza Miralha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/portfolio.css" />
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <img src="../static/imagens/perfil.jpeg" alt="Foto de João Victor de Souza Miralha" id="foto-perfil">
        <div>
            <h1>João Victor de Souza Miralha</h1>
            <p>Idade: 24 anos</p>
            <p>Cargo: Assistente de Dados</p>
        </div>

        <!-- Menu de Navegação -->
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#experiencia">Experiência</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#redes">Redes</a></li>
            </ul>
        </nav>
    </header>

    <!-- Início da seção Sobre -->
    <section id="sobre">
        <h2>Sobre</h2>
        <p>Sou formado em Relações Internacionais pela Universidade Anhembi Morumbi e atualmente 
           faço parte do time do Grupo Arbo, onde atuo como Assistente de Dados no departamento de Tecnologia.</p>
        <p>Minha jornada me levou a um cenário onde a análise e a automação são fundamentais para impulsionar a eficiência e a tomada de decisões.</p>
        <p>No meu tempo livre gosto de treinar, jogar e ouvir música. Atualmente ouro no Valorant e assistindo a segunda temporada de Arcane na Netflix.</p>
        <div class="hobbies">
            <h3>Hobbies</h3>
            <ul>
                <li>Esportes - Musculação, Futebol e Volei</li>
                <li>Séries - Arcane, Game of Thrones e Breaking Bad</li>
                <li>Jogos - Valorant, Fifa e CS:GO</li>
                <li>Instrumento Musical - Teclado, Violão</li>
            </ul>
        </div>
    </section>

    <!-- Início da seção Experiência -->
    <section id="experiencia">
        <h2>Experiência</h2>
        <article>
            <h3>Empresa: Grupo Arbo</h3><br>

            <h4>Cargo: Assistente Administrativo</h4>
            <h4>Período: Junho de 2022 - Junho de 2023</h4><br>
            <h5>Responsabilidades:</h5>
            <ul>
                <li>Controle financeiro e análise de resultados.</li>
                <li>Gerenciamento dos fluxos de entrada e saída financeira
                    das empresas do grupo, incluindo conciliações diárias e alimentação de demonstrativos financeiros.</li>
                <li>esponsável pela administração do rateio entre as empresas do grupo e pelo controle da posição de caixa, 
                    com atualização constante dos saldos.</li>
                <li>Experiência na emissão de relatórios de notas fiscais e em assegurar a precisão e 
                    integridade dos dados financeiros para apoiar a tomada de decisão.</li>
            </ul><br>

            <h3>Empresa: Grupo Arbo</h3><br>

            <h4>Cargo: Assistente de Dados</h4>
            <h4>Período: Junho de 2023 - Atual</h4><br>
            <h5>Responsabilidades:</h5>
            <ul>
                <li>Responsável pela criação de Dashboards que atendem às necessidades analíticas dos diversos setores da empresa.</li>
                <li>Automação de processos utilizando Python e Power Automate, permitindo otimizar
                    diversas tarefas, como cobranças e controle automático de planilhas.</li>
                <li>Automação de processos utilizando Python e Power Automate, permitindo otimizar
                    diversas tarefas, como cobranças, controle automático de planilhas e e-mails.</li>
                <li>Experiência na emissão de relatórios de notas fiscais e em assegurar a precisão e 
                    integridade dos dados financeiros para apoiar a tomada de decisão.</li>
                <li>Gerenciamento de bancos de dados, sendo responsável pela criação de tabelas que centralizam informações
                    de múltiplas fontes. Além do desenvolvimento de consultas que integram dados para alimentar os Dashboards no Power BI.</li>
            </ul>
    </section>

    <!-- Início da seção Habilidades -->
    <section id="habilidades">
        <h2>Habilidades</h2>
        <table class="minha-tabela">
            <tr>
                <th id="cabecalho1">Habilidade</th>
                <th id="cabecalho2">Nível</th>
            </tr>
            <tr>
                <td>PowerBI</td>
                <td>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
            </tr>
            <tr>
              <tr>
                <tr>
                <td>Excel</td>
                <td>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
            </tr>
            <tr>
              <tr>
                <td>Inglês</td>
                <td>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
            </tr>
            <tr>
                <td>MySQL</td>
                <td>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
            </tr>
            <tr>
                <td>PowerApps</td>
                <td>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
            </tr>
            <tr>
              <td>Python</td>
              <td>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
              </td>
          </tr>
          <tr>
            <td>Html</td>
            <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </td>
        </tr>
        </table>
    </section>

    <!-- Início da seção Contato -->
    <section id="contato">
        <h2>Contato</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" placeholder="Digite seu nome" name="nome" required>

            <label for="empresa">Empresa:</label>
            <input type="text" id="empresa" placeholder="Digite o nome da empresa caso esteja associado" name="empresa">

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" placeholder="Digite seu telefone" name="telefone" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" placeholder="Digite seu e-mail" name="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" placeholder="Digite sua mensagem" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </section>

    <!-- Início da seção Redes -->
    <section id="redes">
        <h2>Redes Sociais</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/joão-miralha-a8a119199" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="https://www.instagram.com/joao.miralha/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href="http://wa.me/5511939544039" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Desenvolvido por João Victor de Souza Miralha</p><br>
        <img src="../static/imagens/marca.jpg"id="marca">
    </footer>

</body>
</html>
