<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>João Miralha - Analista de Dados</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <header>
      <h1>João Miralha</h1>
      <nav>
        <ul>
          <li><a href="#sobre" class="item">Sobre</a></li>
          <li><a href="#habilidades" class="item">Habilidades</a></li>
          <li><a href="#projetos" class="item">Projetos</a></li>
          <li><a href="#contato" class="item">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section id="sobre" class="box-conteudo">
        <h2>Sobre</h2>
        <p>
          Olá! Meu nome é João, tenho 24 anos e trabalho como assistente de
          dados. Sou apaixonado por análise e interpretação de informações, o
          que me levou a desenvolver habilidades em diversas ferramentas de
          análise de dados. Com um olhar atento aos detalhes, ajudo a
          transformar dados brutos em insights valiosos que podem impactar
          positivamente as decisões da equipe. Estou sempre em busca de novos
          desafios e oportunidades para expandir meu conhecimento e contribuir
          para projetos inovadores. Estou animado para o futuro e pronto para
          enfrentar novas experiências na área de dados!
        </p>
      </section>

      <section id="habilidades" class="box-conteudo">
        <h2>Principais habilidades</h2>
        <table class="minha-tabela">
          <thead>
              <tr>
                  <th class="cabecalho">Habilidade</th>
                  <th class="cabecalho">Nível</th>
                  <th class="cabecalho">Experiência</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td id="powerbi" rowspan="1">PowerBI</td>
                  <td class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </td>
                  <td class="powerbi">2 anos</td>
              </tr>
              <tr>
                <td id="sql" rowspan="1">MYSQL</td>
                <td class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
                <td class="sql">2 anos</td>
            </tr>
            <tr>
              <td id="powerapps" rowspan="1">PowerApps</td>
              <td class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </td>
              <td class="powerapps">2 anos</td>
          </tr>
              <tr>
                <td id="ingles" rowspan="1">Inglês</td>
                <td class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </td>
                <td class="ingles"></td>
            </tr>
          </tbody>
      </table>
      </section>

      <section id="projetos" class="box-conteudo">
        <h2>Projetos</h2>
        <article>
          <h3>Primeiro HTML</h3>
          <p>Criação de uma página em HTML para treinamento de códigos.</p>
        </article>
        <article>
          <h3>Segundo HTML</h3>
          <p>Criação de uma página em HTML para treinamento de códigos.</p>
        </article>
      </section>
      <section id="contato" class="box-conteudo">

        <h2>Contato</h2>
        <form>
          <label for="nome">Nome:</label><br />
          <input
            type="text"
            placeholder="Digite seu nome"
            id="nome"
            required
          /><br /><br />

          <label for="telefone">Telefone:</label><br />
          <input
            type="tel"
            placeholder="Digite seu número"
            id="telefone"
            required
          /><br /><br />

          <label for="email">Email:</label><br />
          <input
            type="email"
            placeholder="Digite seu e-mail"
            id="email"
            required
          /><br /><br />

          <label for="curriculo" id="arquivo">Arquivo:</label><br />
          <input
            type="file"
            placeholder="Coloque aqui seu arquivo"
            id="curriculo"
            required
          /><br /><br />

          <label for="mensagem">Mensagem:</label><br />
          <textarea
            placeholder="Digite aqui sua mensagem:"
            id="mensagem"
          ></textarea
          ><br /><br />

          <button type="submit">Enviar</button>
        </form>
        </section>
        <section id="social" class="box-conteudo">
          <h2>Redes Sociais</h2>
          <ul id="redes">
              <li>
                  <a href="https://www.linkedin.com/in/joão-miralha-a8a119199" target="_blank">
                      <i class="fab fa-linkedin"></i> Linkedin
                  </a>
              </li>
              <li>
                  <a href="https://www.instagram.com/joao.miralha/" target="_blank">
                      <i class="fab fa-instagram"></i> Instagram
                  </a>
              </li>
              <li>
                  <a href="http://wa.me/5511939544039" target="_blank">
                      <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
              </li>
          </ul>
      </section>      
      <p>Este é um exemplo básico de um projeto em HTML.</p>
    </main>
    <footer>
      <p>&copy; 2024 João Victor De Souza Miralha</p>
    </footer>
  </body>
</html> 
